<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        title
    </title>
    <script src="https://kit.fontawesome.com/6e535c26d4.js" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            overflow-x: hidden;
            padding: 0 5%;
            background-color: #161616;
        }

        .container {
            background-color: white;
            padding: 0 1vw;
            height: 149vh;
        }



        marquee {

            background-image: linear-gradient(to left bottom, #000000, #2c1318, #531c23, #7c2528, #a33327);
            color: white;
            height: 5vh;
            padding-top: 1vh;
            box-sizing: border-box;
        }



        .logo {
            /* border: 1px solid black; */
            height: 15vh;
            padding-top: 1vh;
            box-sizing: border-box;
            position: relative;
            display: flex;
        }

        .college_logo {
            height: 79px;
            width: 251px;

        }



        @media screen and (max-width: 350px) {
            .college_logo {
                height: 60px;
                width: 181px;
                margin-top: 7px;

            }


        }

        .aku_logo {
            height: 12vh;
            width: 28vw;
            /* float: right; */
            position: absolute;
            top: 7%;
            right: -5%;
        }


        .logo #burger_icon_open {
            height: 50px;
            width: 34px;
            position: absolute;
            top: 13px;
            right: 3%;
            display: none;
        }

        .logo #burger_icon_close {
            height: 50px;
            width: 34px;
            position: absolute;
            top: 13px;
            right: 3%;
            display: none;
        }



        .menu_list {
            width: 50%;
            height: 73vh;
            background-color: rgb(250, 246, 246);
            position: absolute;
            top: 15%;
            right: 5%;
            padding: 0 0;
            box-sizing: border-box;
            display: none;
            z-index: 1;

        }

        .menu_list ul {
            list-style: none;
            padding-left: 6%;

        }

        .menu_list ul li {
            padding: 9.5px 0;


        }

        .menu_list ul .listWithBorder {

            border-bottom: 1px solid rgb(221, 217, 217);

        }

        .menu_list ul a {
            text-decoration: none;
            padding: 10px 0;
            font-weight: 500;
            font-size: small;
            color: #000000c7;
        }

        .menu_list #cross_icon {
            height: 35px;
            width: 40px;
            position: absolute;
            top: 40px;
            right: 20%;
            background: rgb(197, 194, 194);
        }

        @media screen and (max-width:865px) {
            .logo #burger_icon_open {
                display: none;
            }

            .aku_logo {
                width: 0;
                height: 0;
            }
        }




        /* Navigation bar-------------------------------------- */

        .navigation_bar {

            background-image: linear-gradient(to left bottom, #000000, #2c1318, #531c23, #7c2528, #a33327);
            margin: 0;

            width: 100%;
            height: 6vh;



        }

        .navigation_bar ul {
            list-style: none;
            text-align: center;
            margin: 0;
            padding-left: 0;

        }

        .navigation_bar li {
            display: inline-block;
            /* margin: 6px 8px 8px 0; */
            padding: 0px;
            margin-top: 9px;
        }



        .navigation_bar a {
            text-decoration: none;

            text-align: center;
            color: white;
            font-size: 14px;
            padding: 12px;

        }

        .navigation_bar a:hover {
            background-color: white;
            color: var(--background_color);
        }

        @media screen and (max-width:865px) {
            .navigation_bar {
                width: 0;
                height: 0;
            }
        }

        /* MAIN----------------------------------------------------------------------------------------------- */


        /* Gallery and Notice--------------------------------------------- */
        .gallery_notice {
            margin-top: 35px;
            width: 100%;
            height: 60vh;
            /* border: 1px solid black; */
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }



        .notice {
            height: 60vh;
            width: 62%;
            border: 1px solid black;
            /* background-color: var(--background_color); */
            background-image: linear-gradient(to left bottom, #000000, #2c1318, #531c23, #7c2528, #a33327);


        }


        .notice h2 {
            text-align: center;
            color: white;
        }

        @media screen and (max-width:865px) {
            .gallery_notice {
                margin-top: -6px;
            }
        }

        @media screen and (max-width:770px) {
            .gallery_notice {
                height: 126vh;
            }



            .notice {
                width: 100%;

            }
        }

        @media screen and (max-width: 500px) {
            .gallery_notice {
                height: 116vh;
            }






        }


        /* About and Downloads------------------------------------------------- */

        .about_dwnlds {
            margin-top: 35px;
            width: 100%;
            height: 60vh;
            /* border: 1px solid black; */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        /* .dwnld-container {

            margin: auto;
            display: flex;
            flex-direction: row;
            box-shadow: 1px 1px 1px 1px lightgray;


        } */



        .dwnlds {
            height: 60vh;
            width: 62%;
            border: 1px solid black;
            background-image: linear-gradient(to left bottom, #000000, #2c1318, #531c23, #7c2528, #a33327);

        }

        .dwnlds h2 {
            text-align: center;
            color: white;
        }

        .dwnlds ul {
            list-style: square;
        }

        .dwnlds ul li {
            font-size: 1rem;
            padding: 6px;
            color: white;
            border-bottom: 1px solid white;
        }

        .dwnlds a {
            color: white;
            text-decoration: none;
        }

        .dwnlds a:hover {
            color: red;
        }

        .form {
            margin-top: 24vh;

        }

        @media screen and (max-width:770px) {
            .about_dwnlds {
                height: 126vh;
            }



            .dwnlds {
                width: 100%;
                top: 66vh;
                right: 0;
            }
        }


        /* Visitors-------------------------------------------------- */


        /* Inspiration---------------------------------------------------- */

        .inspiration {
            margin-top: 65px;
            height: 15vh;
            text-align: center;
            background: black;
            /* border: 1px solid black; */
            box-sizing: border-box;

            /* transition-timing-function: ease-in-out; */
        }

        .inspiration:hover {
            background: linear-gradient(to right, rgb(135, 0, 0), rgb(25, 10, 5));



        }

        .inspiration h2 {
            word-spacing: 1vw;
            color: white;
            padding-top: 4.6vh;
            font-size: 1.5em;
        }

        @media screen and (max-width:785px) {
            .inspiration {
                height: 18vh;
            }
        }

        @media screen and (max-width:480px) {
            .inspiration {
                height: 15vh;
            }

            .inspiration h2 {
                font-size: 1em;
            }
        }


        /* Gallery2------------------------------------------ */

        .gallery2 {
            margin-top: 35px;
            height: 60vh;
            width: 100%;
            border: 1px solid black;

            position: relative;
            /* left: 0vw;
    right: 0vw; */
        }

        .gallery2 .showSlide3 {
            display: none;
        }

        .gallery2 .showSlide3 img {
            width: 100%;
            height: 60vh;
        }


        .gallery2 .left3,
        .right3 {
            cursor: pointer;
            position: absolute;
            top: 50%;

            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: #a33327;

            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }

        .gallery2 .right3 {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .gallery2 .left3 {
            left: 0;

        }


        .gallery2 .left3:hover,
        .right3:hover {
            background-color: rgba(115, 115, 115, 0.8);
        }

        @media screen and (max-width: 500px) {
            .gallery2 {
                height: 50vh;
            }

            .gallery2 .showSlide3 img {
                height: 50vh;
            }
        }


        /* Social Links---------------------------------------------- */

        .social {
            margin-top: 35px;
            height: 15vh;
            /* display: flex; */
            background-color: black;
            /* border: 1px solid black; */
            box-sizing: border-box;
            position: relative;
            transition-duration: 5s;

        }

        .social:hover {
            background: linear-gradient(to right, rgb(135, 0, 0), rgb(25, 10, 5));
            transition: 1s ease;
        }

        .text,
        .social_icon {
            display: absolute;
        }

        .text {
            color: white;
            position: absolute;
            top: 1.1vh;
            left: 10%;
            font-size: 1.1rem;
        }

        .social_icon {
            position: absolute;
            top: 1.9vh;
            left: 50%;

        }

        .social_icon img {
            height: 10vh;
            width: 5vw;

        }


        @media screen and (max-width:830px) {
            .text {
                top: 1.7vh;
                left: 5%;
                font-size: 1rem;
            }

            .social_icon {
                top: 3.5vh;
            }

            .social_icon img {
                height: 7vh;
            }
        }


        @media screen and (max-width:669px) {
            .social {
                height: 12vh;
            }

            .text {
                top: -0.5vh;
                left: 24%;
                font-size: 0.8rem;
            }

            .social_icon {
                top: 5.5vh;
                left: 26vw;
            }

            .social_icon img {
                height: 5vh;
                width: 4vw;
            }
        }


        @media screen and (max-width:360px) {


            .social {
                height: 12vh;
            }

            .text {
                top: -1.3vh;
                left: 13%;
                font-size: 0.8rem;
            }

            .social_icon {
                top: 5.5vh;
                left: 26vw;
            }

            .social_icon img {
                height: 5vh;
                width: 4vw;
            }
        }


        /* Query Section------------------------------------------------- */

        .query_section {
            margin-top: 35px;
            /* border: 1px solid black; */
            box-sizing: border-box;
            position: relative;
            height: 8vh;


        }

        .query {

            width: 100%;
            margin: 0;
            /* padding-left: 20%; */


            /* border: 1px solid black; */
            box-sizing: border-box;


        }

        .query ul {
            list-style: none;
            text-align: centre;
            margin: 0;
            padding-left: 0;

        }

        .query li {
            display: inline-block;
            margin: 6px 10px;
        }

        .query a {
            text-decoration: none;

            text-align: center;

            font-size: 1rem;

        }


        /* Horizontal line-------------------------------------------- */

        .horizontal_line {
            margin-top: 25px;
            border-bottom: 1px solid black;
            width: 100%;
        }

        @media screen and (max-width: 365px) {
            .horizontal_line {
                margin-top: 48px;

            }
        }


        /* Copyright and Designed by----------------------------------- */

        .copyright_designed-by {
            margin-top: 25px;
            height: 14vh;
            /* border: 1px solid black; */
            text-align: center;
        }
    </style>


</head>

<body>

    <div class="container">


        <!-- Header------------------------------------------------------------- -->
        <header>

            <marquee direction="left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, voluptatum.
            </marquee>


            <div class="logo">
                <img class="college_logo" src="./images/College_logo.png" alt="">

                <img class="aku_logo" src="./images/AKU_logo.png" alt="">


            </div>

            <!-- <div id="display" class="display"> -->


            <!-- </div> -->

            <nav class="navigation_bar">
                <ul>
                    <li><a href="/homeAdmin">NOTICE</a></li>
                    <li><a href="/homeAdminDownload">DOWNLOAD</a></li>
                    <li><a href="/homeAdminInspiration">INSPIRATION</a></li>

                    <li><a href="/">LOGOUT</a></li>
                </ul>
            </nav>





        </header>

        <main>

            <!-- Gallery and Notice---------------------------------------------------------- -->



            <!-- About and Downloads-------------------------------------------------------- -->
            <div class="about_dwnlds">


                <div class="dwnlds">
                    <h2>DOWNLOADS</h2>
                    <ul>
                        <% for(let i of downloads){%>
                            <div class="dwnld-container">

                                <div class="dwnld-detail">
                                    <li>
                                        <a href="<%= i.link %>">
                                            <%= i.download %>
                                        </a>
                                    </li>

                                </div>
                                <div class="delete-contact">

                                    <a href="/delete-dwnld/?id=<%= i.id%>">
                                        <i class="fas fa-window-close"></i>
                                    </a>
                                </div>
                            </div>
                            <%}%>
                    </ul>



                </div>
                <div class="form">

                    <form action="/homeAdminDownload" method="post">

                        <input type="text" name="download" placeholder="Enter the download text" required>
                        <input type="url" name="link" placeholder="Enter the notice link" required>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>


            <!-- Visitors-------------------------------------------------------------- -->



            <!-- Speakers section----------------------------------------------------------- -->



            <!-- Inspiration------------------------------------------------------------------ -->





            <div class="social">
                <div class="text">
                    <h2>CONNECT WITH US</h2>
                </div>

                <div class="social_icon">
                    <img src="./images/facebook.png" alt="">
                    <img src="./images/twitter.png" alt="">
                    <img src="./images/linkedin.png" alt="">
                    <img src="./images/youtube.jpg" alt="">
                </div>
            </div>


            <!-- Query section--------------------------------------------- -->

            <div class="query_section">


                <div class="query">
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Disclaimer</a></li>
                    </ul>
                </div>

            </div>


            <!-- Horizontal line------------------------------------------ -->

            <div class="horizontal_line"></div>


            <!-- Copyright and Designed by--------------------------------- -->

            <div class="copyright_designed-by">
                <p>© 2019 International Conference on Advance Computing and Innovative Technologies in Engineering.
                    All
                    rights resereved</p>
                <p>Designed and Developed By: AMAN DAYAL</p>
            </div>
        </main>

    </div>


    <!-- JAVASCRIPT-------------------------------------------------------------------------- -->
    <script>

    </script>

</body>

</html>